.App {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  margin: auto;
  padding: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.Title {
  font-size: large;
  font-weight: bold;
  background-color: #ccc;
  padding: 1em;
  border-radius: 10px;
}

.Body {
  background-color: yellow;
  padding: 0.5em;
}
